@import 'fonts';

body {
  overflow: hidden;
}

.index-mid {
  width: 100%;
}

h1.index-mid--header {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
}

.index-mid--slogan {
  font-family: 'Delius Unicase', helvetica, arial;
  font-size: 1em;
}

.index-mid--smalltext {
  font-family: 'Ubuntu Condensed', helvetica, arial;
}

.index-mid--smallertext {
  font-family: 'Ubuntu Condensed', helvetica, arial;
}

.index-mid--raised {
  background-image: url('/images/amount-raised.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 150px;
  margin: auto;
}

.text-italic {
  font-style: italic;
}

.cotton {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 260px;
  width: 250px;
  background-image: url('/images/cotton.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2; 
}

.spotlight {
  position: absolute;
  top: -270px;
  width: 100%;
  height: 400px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+3,0+100 */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,0) 60%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 3%, rgba(255,255,255,0) 60%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 3%, rgba(255,255,255,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  z-index: -1;
}

.flooofy {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url('/images/fatfat5.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
}

@media (min-width: $screen-sm-min) {
  .index-mid {
    margin-top: 10vh;
  }

  h1.index-mid--header {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
  }

  .cotton {
    left: 50%;
    height: 400px;
    width: 400px;
  }

  .index-mid {
    margin-top: 15vh;
  }

  .spotlight {
    left: 20%;
    width: 500px;
  }
}

@media (min-width: $screen-lg-min) {
  h1.index-mid--header {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
  }

  .cotton {
    left: 50%;
    height: 700px;
    width: 700px;
  }

  .index-mid {
    margin-top: 15vh;
  }

  .spotlight {
    left: 20%;
    width: 500px;
  }
}
