@charset "utf-8";
@import "variables";
@import "normalize";
@import "sidebar";
@import "index";

body {
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #3d5867;
  background: #adcfdb;
  padding-top: 40px;
  font-size: 1em;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font, Arial, Helvetica, Geneva, sans-serif;
  font-weight: $sub-heading-weight;
  line-height: normal;
  margin-bottom: .5em;
  line-height: 1.2em;
  color: 333;
  letter-spacing: $heading-letter-spacing;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 1px solid transparent;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: rgba(0,0,0,.98);
  border-color: rgba(0,0,0,.4);
}

h1.page-header {
  font-size: $p-font-size * 2.5;
  font-weight: $heading-weight;
  color: #333;
}

p {
  font-size: $p-font-size;
  line-height: $p-line-height;
  margin-bottom: 1em;
  margin-top: 1em;

  a {
    border-bottom: 1px dotted #333;
  }
  
  a.fa {
    border-bottom: none;
  }
}

li a {
  border-bottom: 1px dotted #333;
}

a {
  color: #444;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,.4);
}

.logo img {
  width: 245px;
  margin-bottom: 3em;
}

// h1 {
//   color: rgba(0,0,0,0.5);
//   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 1.8em;
//   font-weight: 400;
//   margin: 0;
// }

// .doc {
//   margin: 3em 0;
//   font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-size: 1.1em;
//   font-weight: 300;

//   a {
//     border: 1px solid white;
//     border-radius: 3px;
//     padding: 0.75em 0.7em;
//     color: white;
//     text-decoration: none;
//     transition: color 0.1s linear;
//     &:hover {
//       background: rgba(0,0,0,0.2);
//       color: white;
//       transition: all 0.15s linear;
//     }
//   }
// }

// .welcome {
//   -webkit-animation-name: welcome;
//   -webkit-animation-duration: .9s;
// }

// @-webkit-keyframes welcome {
//   from {
//     -webkit-transform: scale(0);
//     opacity: 0;
//   }
//   50% {
//    -webkit-transform: scale(0);
//    opacity: 0;
//   }
//   82.5% {
//     -webkit-transform: scale(1.03);
//     -webkit-animation-timing-function: ease-out;
//     opacity: 1;
//   }
//   to {
//     -webkit-transform: scale(1);
//   }
// }
