@charset "utf-8";

$font-size-base: 16px;

@import "bootstrap-sprockets";
@import "bootstrap";

@import "variables";
@import "sidebar";
@import "index";

body {
  font-weight: 400;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  color: #3d5867;
  background: #adcfdb;
  padding-top: 40px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font, Arial, Helvetica, Geneva, sans-serif;
  font-weight: $sub-heading-weight;
  line-height: normal;
  margin-bottom: .5em;
  line-height: 1.2em;
  letter-spacing: $heading-letter-spacing;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 1px solid transparent;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: rgba(0,0,0,.98);
  border-color: rgba(0,0,0,.4);
}

h1.page-header {
  font-size: $p-font-size * 2.5;
  font-weight: $heading-weight;
  color: #333;
}

p {
  font-size: $p-font-size;
  line-height: $p-line-height;
  margin-bottom: 1em;
  margin-top: 1em;

  a {
    border-bottom: 1px dotted #333;
  }
  
  a.fa {
    border-bottom: none;
  }
}

li a {
  border-bottom: 1px dotted #333;
}

a {
  color: #444;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #444;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,.4);
}

.logo img {
  width: 245px;
  margin-bottom: 3em;
}
