---
title: madewithfluff
layout: index_layout
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-6 col-sm-offset-2 col-lg-3 col-lg-offset-3">
      <div class="index-mid">
        <h1 class="index-mid--header">madewithfluff</h1>
        <p class="index-mid--slogan">We're animal lovers.</p>
        <p class="index-mid--smalltext">
          Our furry friends have showered us with so much love and it's time for us to give back as 
          much to them. With your help, we hope to raise some funds to provide our street dogs and 
          cats a warm place to stay and delicious meals to eat.
        </p>
        <p class="index-mid--smalltext">
          Half of all the profits from the sale of these fluff-inspired cards will go towards 
          animal welfare organizations in Singapore.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="cotton"></div>
<div class="spotlight"></div>
